*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-deepdark: #141414;
  --clr-accents: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25);
}
@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--clr-light);
  color: var(--clr-dark);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  margin: 0;
  line-height: 1.6;
}
.logo {
  width: 100px;
}
.nav-toggle {
  display: none;
}
.header {
  display: flex;
  justify-content: space-between;
}
.nav-list {
  display: flex;
}
.nav-link {
  color: var(--clr-dark);
  text-decoration: none;
}
.nav-link:hover {
  color: var(--clr-accents);
  cursor: pointer;
}
.nav-item {
  margin: 2em;
  list-style-type: none;
  justify-content: space-between;
  font-weight: var(--fw-bold);
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg);
}

.nav-open .hamburger::after {
  opacity: 0;
}
@media (max-width: 800px) {
  .nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto 0;
    font-size: var(--fs-h3);
  }
  .nav-link {
    color: var(--clr-accents);
    cursor: pointer;
    text-decoration: none;
  }
  .nav-toggle {
    display: block;
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 2em;
    z-index: 1000;
  }

  .hamburger {
    display: block;
    position: relative;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background: var(--clr-accents);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
  }

  .hamburger::before {
    top: 6px;
  }
  .hamburger::after {
    bottom: 6px;
  }
}
img {
  display: block;
  width: 100%;
  z-index: 2;
  position: relative;
}
section {
  padding: 5em 2em;
}

strong {
  font-weight: var(--fw-bold);
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.intro-img {
  box-shadow: var(--bs);
}
.intro-header {
  margin-bottom: 0.25em;
  font-weight: var(--fw-reg);
}
.intro-header strong {
  display: block;
}
.intro-sub {
  margin: 0;
  font-size: var(--fs-h3);
  display: inline-block;
  text-transform: uppercase;
}
.intro-sub,
.about-sub {
  background-color: var(--clr-accents);
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  padding: 0.25em 1em;
}

nav {
  display: flex;
}

/* -------intro section--------- */
.intro {
  position: relative;
}
@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }
  .intro-img {
    box-shadow: 0 20px 20px 20px rgba(230, 227, 227, 1.2),
      0 6px 20px 0 rgba(230, 227, 227, 1.2);
    grid-area: img;
    min-width: 250px;
  }
  .intro-sub {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    position: relative;
    text-align: right;
    left: -1.5em;
    width: calc(100% + 1.5em);
    text-transform: uppercase;
  }
}

/* my service section */

.my-services {
  background-color: var(--clr-dark);
  background-image: url(./images/services-bg.jpg);
  background-size: cover;
  color: var(--clr-light);
  background-blend-mode: difference;
  text-align: center;
}
.service-header {
  color: var(--clr-accents);
  position: relative;
  /* font-size: var(--fs-h1); */
}
.service-header-div {
  border: 0.1em solid var(--clr-accents);
  width: 10em;
  opacity: 0.5;
  align-self: center;
  margin: 1rem auto 1.5rem;
}
.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 5em;
}
.btn {
  text-decoration: none;
  background-color: var(--clr-accents);
  padding: 0.6em 3em 0.6em;
  font-weight: var(--fw-bold);
  color: var(--clr-dark);
}

@media (max-width: 600px) {
  .services {
    display: block;
  }
}
/* about me */

.about-me {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.who-img {
  box-shadow: var(--bs);
  height: 450px;
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .about-header {
    grid-area: title;
  }

  .about-sub {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .who-img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}
/* ----my work------- */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1em;
  color: var(--clr-light);
}

.my-work {
  background-color: var(--clr-dark);
}
.mywork-title {
  color: var(--clr-light);
  text-align: center;
}
.mywork-sub {
  color: var(--clr-accents);
  text-align: center;
  margin: 1em;
}
.code {
  background-color: var(--clr-deepdark);
  color: var(--clr-light);
  border-radius: 8px;
  padding: 0.2em;
  cursor: pointer;
  margin-left: 0.5em;
}
.work-link {
  text-decoration: none;
  color: var(--clr-light);
}
.live {
  background-color: #9a6642;
  color: var(--clr-deepdark);
  border-radius: 8px;
  padding: 0.25em;
  cursor: pointer;
  border: none;
}
#coming-soon {
  filter: blur(8px);
}
.coming-soon {
  color: rgb(223, 18, 18);
  position: absolute;
  left: 83%;
  top: 330%;
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .code,
  .live {
    margin-bottom: 2em;
  }
}
.languages {
  /* background-color: var(--clr-light); */
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.web {
  width: 50px;
  margin: 10px 10px 0px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-deepdark);
}
.footer-link {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}
.social-list {
  display: flex;
  flex-direction: row;
}
.social-list-item {
  list-style-type: none;
  margin: 1em;
}
.social-list-link,
.footer-link {
  text-decoration: none;
  color: var(--clr-accents);
}
#git:hover {
  color: #fff;
}
#instagram:hover {
  color: rgb(197, 39, 92);
}
#twitter:hover {
  color: dodgerblue;
}
#telegram:hover {
  color: dodgerblue;
}
